<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Elektraostog_Solaryl.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Elektraostog_Solaryl.My.MySettings>
            <setting name="darkmode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="homepage" serializeAs="String">
                <value>solarys://about/</value>
            </setting>
            <setting name="searchengine" serializeAs="String">
                <value>https://www.google.com/search?q=</value>
            </setting>
            <setting name="theme" serializeAs="String">
                <value>Default</value>
            </setting>
        </Elektraostog_Solaryl.My.MySettings>
    </userSettings>
</configuration>